<h3>Create a new Board</h3>
<form id="new-board-form">
  <label for="title">title:</label>
  <input type="text" name="board[title]" value="<%= board.title %>">
  <button class="submit">Make it!</button>
</form>