@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: Oswald;
  src: url(Oswald-Light.ttf);
}

body {
  margin: 0 auto;
  height: inherit;
  width: inherit;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  position: relative;
}

#boards-index {
  float: left;
  width: 15%;
  display: inline-block;
}

#boards-index a {
  padding: 15px;
  margin-bottom: -1px;
  display: block;
  border-right: thin solid #337ab7; 
}

#content-main {
  width: 70%;
  margin: 0 auto;
}

.list-item {
  float: left;
  padding: 10px;
  margin: 10px 0px 0px 10px;
  border: thin solid black;
  cursor: pointer;
  border-radius: 5px;
}

.auth {
  display: block;
  text-align: center;
}

h1, h3 {
  text-align: center;
  margin: 20px;
}

.logout-btn {
  text-align: center;
  position: fixed;
  left: 50%;
  bottom: 5%;
}